:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #1eb3f8;
  --font-fam: "Lato", sans-serif;
  --height: 3rem;
  --btn-width: 8rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 0 0 0 1rem; */
}

.header {
  margin: 0.6rem 1.5rem 0.6rem 0.5rem;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  margin: 1rem 1rem 0rem;
  padding: 0rem 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.search {
  font-family: var(--font-fam);
  font-size: 1rem;
  color: var(--color-dark);
  background: var(--color-light);
  border-radius: var(--rad);
  width: 100%;
  height: var(--height);
  padding: 0 1.6rem;
  margin-top: 1rem;
  position: relative;
  outline: 0;
  border: 0;
  z-index: 1;
}
