.event {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 0.9rem;
  padding: 1rem;
}

.event:hover {
  font-size: 0.9rem;
  padding: 1rem;
  background-color: rgb(74, 213, 255);
  cursor: pointer;
}

.note {
  padding: 0.5rem 1rem;
  /* border-style: solid;
  border-radius: 8px;
  border-width: 1px; */
  text-align: center;
  /* background-color: rgb(150, 111, 111); */
}

.note:hover {
  /* padding: 1rem; */
  background-color: rgb(150, 111, 111);
  /* cursor: pointer; */
}

.note_name {
  font-size: 1.1rem;
  margin: 0rem;
  padding: 0rem;
}

.note_body {
  font-size: 1rem;
  padding: 0rem;
}
