table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.show_contact_button {
  width: 100%;
}

.contact {
  margin: 1rem;
}

.sub_container {
  display: flex;
  justify-content: space-between;
}

.contact_container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.description {
  margin: 0rem 1rem 1rem;
}

@media (max-width: 768px) {
  .thumbs_container {
    height: 150px !important;
  }
}

.gallery_container .gallery {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 400px;
  max-height: 400px;
  max-width: 1000px;
}

.thumbs_container {
  width: 100%;
  height: 175px;
}

.event_notes_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  width: 60%;
}

.events_notes_container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  max-height: 585px;
  margin: 2rem 2rem;

  min-width: 200px;
  width: 30%;
  max-width: 600px;
}

.container {
  margin: 1rem;
  padding: 1rem;
}

@media (max-width: 825px) {
  .event_notes_form {
    width: 100% !important;
  }
  .events_notes_container {
    width: 100% !important;
  }
}
