.btn_light {
  margin: 1rem;
}

.width_20_center {
  /* width: 20%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 825px) {
  .event_notes_form {
    width: 100% !important;
  }
  .events_notes_container {
    width: 100% !important;
  }
}

.event_notes_form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  width: 60%;
  /* min-width: 600px; */
}

.events_notes_container {
  max-height: 585px;
  margin: 2rem 2rem;

  min-width: 200px;
  width: 30%;
  max-width: 600px;
  /* border-style: solid;
  border-radius: 8px;
  border-width: 1px; */
}
