@import "./css/ReactImageGallery.css";

.image-gallery {
  width: 100%;
  object-fit: fill;
  height: auto;
  max-height: 400px;
  max-width: 1600px;
}

.image-gallery-slide img {
  width: 100%;
  height: auto;
  max-height: 400px !important;
  min-height: 400px !important;
  max-width: 1000px;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.fullscreen .image-gallery {
  max-height: 80vh !important;
  min-height: 80vh !important;
  max-width: 100vh !important;
}
.fullscreen .image-gallery-slide img {
  max-height: 80vh !important;
  min-height: 80vh !important;
  max-width: 100vh !important;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .image-gallery-thumbnail {
    min-height: 150px;
    max-height: 150px;
    margin-top: -4px;
  }
}

@media (min-width: 769px) {
  .image-gallery-thumbnail {
    min-height: 175px;
    max-height: 175px;
    margin-top: -5px;
  }
}

/* overwriting - above */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #dfdfdf;
  color: #333333;
}

h1,
h2 {
  color: #333333;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.margin-left-4rem {
  margin-left: 4rem;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-auto {
  margin: auto;
}

.margin-2rem {
  margin: 2rem 2rem 0rem;
}

.pointer {
  cursor: pointer;
}

.gap-1rem {
  gap: 1rem;
}

.width-100-center {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1400px;
}

.width-80-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.max-200-height {
  max-height: 200px;
}

main {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.main-content {
  margin: 0rem auto;
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */
  flex-flow: column wrap;
  width: 100%;
}

.main-font {
  font-family: sans-serif;
}

.text-center {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.content-left {
  display: flex;
  justify-content: flex-start;
}

.flex-shrink-low {
  flex-shrink: 1;
}

.flex-shrink-high {
  flex-shrink: 50;
}

.title {
  font-weight: 100;
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
  color: #000;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.tile {
  height: 180px;
  width: 400px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  color: rgb(72, 72, 72);
  padding: 10px 50px 10px 50px;
  border-radius: 5px;
}

.btn,
.btn-create,
.btn--alt {
  padding: 12px 24px;
  border-radius: 5px;
  background-color: #1eb3f8;
  box-shadow: 0px 0px 3px 0px rgba(125, 226, 249, 0.1);
  border: none;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  margin: 1rem;
}

.btn:hover,
.btn-create:hover {
  box-shadow: 0px 0px 10px 3px #7de2f9;
  background-color: white;
  color: #1eb3f8;
}

.btn:active,
.btn-create:active {
  background-color: aliceblue;
}

.btn--alt {
  border-radius: 0px;
  background-color: white;
  border-style: solid;
  background-color: transparent;
  color: #1eb3f8;
  padding: 6px 12px;
}

.btn--alt:hover {
  background-color: #1eb3f8;
  color: white;
}

.btn--alt:active {
  background-color: #1eb3f8;
  margin: 4px 2px !important;
  padding: 8px 16px;
  color: white;
}

.btn-light {
  font: inherit;
  cursor: pointer;
  color: rgb(30, 179, 248);
  border: 1px solid rgb(30, 179, 248);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  border-radius: 4px;
}

.btn-light:hover,
.btn-light:active {
  background-color: #c0e7f0;
}

.btn-red {
  font: inherit;
  cursor: pointer;
  color: rgb(204, 0, 0);
  border: 1px solid rgb(204, 0, 0);
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  border-radius: 4px;
}

.btn-red:hover,
.btn-red:active {
  background-color: rgb(255, 145, 145);
}

.actions .btn_edit {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.actions .btn_edit:hover,
.actions .btn_edit:active {
  background-color: #ffe2ed;
}

.btn-update {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin: 1rem;
  border-radius: 4px;
}

.btn-update:hover,
.btn-update:active {
  background-color: #ffe2ed;
}

.btn-dark-brown {
  font: inherit;
  cursor: pointer;
  color: rgb(128, 68, 68);
  border: 1px solid rgb(105, 55, 55);
  background-color: transparent;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin: 1rem;
  border-radius: 4px;
}

.btn-dark-brown:hover,
.btn-dark-brown:active {
  background-color: rgb(190, 140, 140);
  /* color: rgb(0, 0, 0); */
}

.btn-light-blue {
  font: inherit;
  cursor: pointer;
  color: rgb(21, 195, 248);
  border: 1px solid rgb(21, 195, 248);
  background-color: transparent;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  margin: 1rem;
  border-radius: 4px;
}

.btn-light-blue:hover,
.btn-light-blue:active {
  background-color: rgb(179, 233, 250);
  /* color: rgb(0, 0, 0); */
}

.alert {
  padding: 15px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert .alert-x {
  cursor: pointer;
}

.scroll-y {
  overflow-x: hidden;
  overflow-y: auto;
}
