.card {
  background-color: white;
  border-radius: 6px;
  margin: 1.5rem 1rem;
  height: 22.6rem;
  width: 20rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
